<div class="cls">
    <dl>
        <%var _fullpath = ViewHelper.getPath( _self );%>
        <dt><h4><a name="<%- _fullpath %>" class="anchor"><%- _fullpath %></a></h4></dt>
        <dd><%- desc %></dd>
    </dl>

    <div class="member-wrap">

        <!-- 预览列表 start -->
        <div class="preview-list">
            <%var _members = ViewHelper.getMembers( "property", _self );%>
            <%if ( _members.length ) {%>
                <fileset>
                    <legend><h5>属性列表</h5></legend>
                    <div class="table-wrap">
                        <table class="table list-table">
                            <thead>
                                <tr>
                                    <th>属性名</th>
                                    <th>是否静态</th>
                                    <th>描述</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for ( var i=0, member; member = _members[i]; i++ ) {%>
                                    <tr>
                                        <td>
                                            <a href="#<%- ViewHelper.getPath( member ) %>"><%- member.name %></a>
                                        </td>
                                        <td>
                                            <%if ('static' in _self) {%>是<%} else {%>否<%}%>
                                        </td>
                                        <td class="list-table-desc">
                                            <%- member.desc %>
                                        </td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </fileset>
            <%}%>

            <%var _members = ViewHelper.getMembers( "event", _self );%>
            <%if ( _members.length ) {%>
                <fileset>
                    <legend><h5>事件列表</h5></legend>
                    <div class="table-wrap">
                        <table class="table list-table">
                            <thead>
                                <tr>
                                    <th>事件名</th>
                                    <th>描述</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for ( var i=0, member; member = _members[i]; i++ ) {%>
                                    <tr>
                                        <td>
                                            <a href="#<%- ViewHelper.getPath( member ) %>"><%- member.name %></a>
                                        </td>
                                        <td class="list-table-desc">
                                            <%- member.desc %>
                                        </td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </fileset>
            <%}%>

            <%var _members = ViewHelper.getMembers( "method", _self );%>
            <%if ( _members && _members.length ) {%>
                <fileset>
                    <legend><h5>方法列表</h5></legend>
                    <div class="table-wrap">
                        <table class="table list-table">
                            <thead>
                                <tr>
                                    <th>方法签名</th>
                                    <th>描述</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for ( var i=0, member; member = _members[i]; i++ ) {%>
                                    <tr>
                                        <td>
                                            <%- ViewHelper.parseSignature( member, true ) %>
                                        </td>
                                        <td class="list-table-desc">
                                            <%- member.desc %>
                                        </td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </fileset>
            <%}%>

        </div>
        <!-- 预览列表 end -->

        <div class="member-list">

            <!-- 事件 start -->
            <%if (members.event && members.event.length) {%>
            <fileset class="member-desc">
                <legend><h5>事件</h5></legend>
                <ul>
                    <%for ( var i=0, evt; evt = members.event[i]; i++ ) {%>
                        <li><%- evt %></li>
                    <%}%>
                </ul>
            </fileset>
            <%}%>
            <!-- 事件 end -->

            <!-- 属性 start -->
            <%if (members.property && members.property.length) {%>
            <fileset class="member-desc">
                <legend><h5>属性</h5></legend>
                <ul>
                    <%for ( var i=0, prop; prop = members.property[i]; i++ ) {%>
                        <li><%- prop %></li>
                    <%}%>
                </ul>
            </fileset>
            <%}%>
            <!-- 属性 end -->

            <!-- 构造函数 start -->
            <%if (members.constructor && members.constructor.length) {%>
            <fileset class="member-desc">
                <legend><h5>构造函数</h5></legend>
                <ul>
                    <%for ( var i=0, fn; fn = members.constructor[i]; i++ ) {%>
                        <li><%- fn %></li>
                    <%}%>
                </ul>
            </fileset>
            <%}%>
            <!-- 构造函数 end -->

            <!-- 方法 start -->
            <%if (members.method && members.method.length) {%>
            <fileset class="member-desc">
                <legend><h5>方法</h5></legend>
                <ul>
                    <%for ( var i=0, fn; fn = members.method[i]; i++ ) {%>
                        <li><%- fn %></li>
                    <%}%>
                </ul>
            </fileset>
            <%}%>
            <!-- 方法 end -->

        </div>

    </div>
</div>