<div class="module">
    <dl>
        <dt><h3><%= name %></h3></dt>
        <dd><%= desc %></dd>
    </dl>
    <div class="member-list">
        <fileset>
            <legend><h5>成员列表</h5></legend>
            <div class="table-wrap">
                <table class="table list-table">
                    <thead>
                        <tr>
                            <th>类型</th>
                            <th>名称</th>
                            <th>描述</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% var _staticProp = ViewHelper.getMembers( "property", _self ); %>
                        <% for ( var i=0, _prop=null; _prop=_staticProp[i]; i++ ) {%>
                        <tr>
                            <td>
                                静态属性
                            </td>
                            <td>
                                <a href="#<%- ViewHelper.getPath( _prop ) %>"><%- _prop.name %></a>
                            </td>
                            <td>
                                <%- _prop.desc %>
                            </td>
                        </tr>
                        <%}%>

                        <% var _staticMethod = ViewHelper.getMembers( "method", _self ); %>
                        <% for ( var i=0, _method=null; _method=_staticMethod[i]; i++ ) {%>
                        <tr>
                            <td>
                                静态方法
                            </td>
                            <td>
                                <%- ViewHelper.parseSignature( _method, true ) %>
                            </td>
                            <td>
                                <%- _method.desc %>
                            </td>
                        </tr>
                        <%}%>

                        <%for ( var key in _self['class'] ) {%>
                        <%var clazz = _self['class'][ key ];%>
                            <tr>
                                <td>
                                    类
                                </td>
                                <td>
                                    <a href="#<%- ViewHelper.getPath( clazz ) %>"><%- clazz.name %></a>
                                </td>
                                <td class="list-table-desc">
                                    <%- clazz.desc %>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </fileset>

        <%if ( _staticProp.length ) { %>
        <fileset class="member-desc">
            <legend><h5>静态属性</h5></legend>
            <ul>
                <%for ( var i=0,_prop; _prop=_staticProp[i]; i++ ) {%>
                <li>

                </li>
                <%}%>
            </ul>
        </fileset>
        <% } %>

    </div>
</div>