<% _.forEach( methods, function( method ) { %>
<article class="clearfix method">
    <h3 id="<%- gennerateID( method[ 'class' ] ? (method.module + ':' + method[ 'class' ] + ':' + method.name) : (method.module + ':' + method.name)  ) %>" <% if ( method.hasOwnProperty( 'deprecated' ) ) { %>class="deprecated"<% } %> ><%= method.name %>
        <% if ( method.since ) { %><span
        class="version"><%- method.since %></span><% } %>
    </h3>
    <% if ( method[ 'deprecated' ] ) { %><div class="warning"><%- markdown( method[ 'deprecated' ] ) %></div><% } %>

    <% if ( method.grammars ) { %>
    <ul class="signature">
        <% _.forEach( method.grammars, function( grammar ) { %>
        <li><%= grammar.signature %>
            <% if ( grammar.return ) { %><span class="return">⇒ <%= grammar.return %></span><% } %>
            <% if ( grammar.since ) { %><span class="version"><%= grammar.since %></span><% } %>
        </li><% });%>
    </ul>
    <% } %>
    <% if ( method.params ) { %>
        <p>参数: </p>
        <%- renderParams( method.params ) %>
    <% } %>
    <% if ( method.returns ) { %>
        <p>返回值: </p>
        <%- renderParams( method.returns ) %>
    <% } %>

    <%- markdown( method.description || '' ) %>
    <% _.forEach( method.examples || [], function( example ) { %>
        <%- formatExample( example ) %>
    <% }) %>
</article>
<% }) %>