<div class="member-item member-method">
    <dl class="member-item-dl">
       <dt><%- ViewHelper.parseSignature( _self ) %></dt>
       <dd>
            <ul>
                <li><%- desc %></li>
                <%if (_self.warning) {%>
                <li class="warning"><%= warning %></li>
                <%}%>
                <%if (_self.remind) {%>
                <li class="remind"><%= remind %></li>
                <%}%>
            </ul>

            <!-- 参数列表 -->
            <%if ( _self.param ) {%>
            <fileset>
                <legend>参数</legend>
                <div class="table-wrap">
                   <table class="table list-table">
                       <thead>
                           <tr>
                               <th>名称</th>
                               <th>类型</th>
                               <th>描述</th>
                           </tr>
                       </thead>
                       <tbody>
                       <%for (var i=0, par; par=param[i]; i++) {%>
                       <tr>
                           <td>
                               <%- par.name %>
                           </td>
                           <td>
                               <a href="#<%- par.type %>"><%- par.type %></a>
                           </td>
                           <td>
                               <%- par.desc %>
                           </td>
                       </tr>
                       <%}%>
                       </tbody>
                   </table>
               </div>
            </fileset>
            <%}%>

            <!-- 示例 -->
            <%if ( _self.example ) {%>
                <fileset>
                    <legend>示例</legend>
                    <%for ( var i=0, exp=null; exp=example[ i ]; i++ ) { %>
                    <div class="example">
                       <%- exp %>
                    </div>
                    <% } %>
                </fileset>
            <%}%>


       </dd>
    </dl>
</div>