<div class="member">
    <dl>
       <dt><%if ( locals.itemtype === 'method' ) {%><%- ViewHelper.parseSignature( locals ) %><%} else {%><%= name %><%}%></dt>
       <dd>
            <fileset>
                <legend>描述</legend>
                <ul>
                    <li><%= description %></li>
                    <%if (locals.warning) {%>
                    <li class="warning"><%= warning %></li>
                    <%}%>
                    <%if (locals.remind) {%>
                    <li class="remind"><%= remind %></li>
                    <%}%>
                </ul>
            </fileset>
            <!-- 参数列表 -->
            <%if ( locals.params ) {%>
            <fileset>
                <legend>参数列表</legend>
                <ol>
                    <%for (var i=0, param; param=params[i]; i++) {%>
                    <li>
                        <dl>
                            <dt><%= param.name %></dt>
                            <dd><span><%= param.type.join(", ") %></span><span><%= param.description %></span></dd>
                        </dl>
                    </li>
                    <%}%>
                </ol>
            </fileset>
            <%}%>
            <!-- 示例 -->
            <%if ( locals.example ) {%>
                <fileset>
                    <legend>示例</legend>
                    <div class="example">
                        <%- ViewHelper.markdownToHtml( example ) %>
                    </div>
                </fileset>
            <%}%>
       </dd>
    </dl>
    <div>

    </div>
</div>