<div class="module">
    <dl>
        <dt><h3><%= name %></h3></dt>
        <dd><%= description %></dd>
    </dl>
    <div class="member-list">
        <fileset>
            <legend>成员列表</legend>
            <ul>
                <%for ( var key in classes ) {%>
                    <%var member = classes[ key ];%>
                    <li class="member-item member-item-cls">
                        <dl>
                            <dt><a href="#<%= ViewHelper.getPath( member ) %>"><%= member.name %></a></dt>
                            <dd><%= member.description %></dd>
                        </dl>
                    </li>
                <%}%>
            </ul>
        </fileset>
    </div>
</div>