<div class="member">
    <dl>
       <dt><a name="<%- ViewHelper.getPath( _self ) %>"><%- name %></a></dt>
       <dd>
            <fileset>
                <legend>描述</legend>
                <ul>
                    <li><%= description %></li>
                    <%if (_self.warning) {%>
                    <li class="warning"><%= warning %></li>
                    <%}%>
                    <%if (_self.remind) {%>
                    <li class="remind"><%= remind %></li>
                    <%}%>
                </ul>
            </fileset>

            <!-- 事件监听器参数列表 start -->
            <%if ( _self.params ) {%>
            <fileset>
                <legend>回调函数参数列表</legend>
                <ol>
                    <%for (var i=0, param; param=params[i]; i++) {%>
                    <li>
                        <dl>
                            <dt><%= param.name %></dt>
                            <dd><span><%= param.type.join(", ") %></span><span><%= param.description %></span></dd>
                        </dl>
                    </li>
                    <%}%>
                </ol>
            </fileset>
            <%}%>
            <!-- 事件监听器参数列表 end -->

            <!-- 示例 -->
            <%if ( _self.example ) {%>
                <fileset>
                    <legend>示例</legend>
                    <div class="example">
                        <%- ViewHelper.markdownToHtml( example ) %>
                    </div>
                </fileset>
            <%}%>
       </dd>
    </dl>
    <div>

    </div>
</div>