<div class="method">
    <dl class="member-item-dl">
       <dt><%- ViewHelper.parseSignature( _self ) %></dt>
       <dd>
            <ul>
                <li><%= description %></li>
                <%if (_self.warning) {%>
                <li class="warning"><%= warning %></li>
                <%}%>
                <%if (_self.remind) {%>
                <li class="remind"><%= remind %></li>
                <%}%>
            </ul>

            <!-- 参数列表 -->
            <%if ( _self.params ) {%>
            <fileset>
                <legend>参数</legend>
                <div class="table-wrap">
                   <table class="table list-table">
                       <thead>
                           <tr>
                               <th>名称</th>
                               <th>类型</th>
                               <th>描述</th>
                           </tr>
                       </thead>
                       <tbody>
                       <%for (var i=0, param; param=params[i]; i++) {%>
                       <tr>
                           <td>
                               <%= param.name %>
                           </td>
                           <td>
                               <a href="#<%- param.type[0] %>"><%- param.type[0] %></a>
                           </td>
                           <td>
                               <%= param.description %>
                           </td>
                       </tr>
                       <%}%>
                       </tbody>
                   </table>
               </div>
            </fileset>
            <%}%>


            <!-- 返回值 -->
            <%if (_self.returns) {%>
            <fileset>
                <legend>返回值</legend>
                <div class="table-wrap">
                   <table class="table list-table">
                       <thead>
                           <tr>
                               <th>类型</th>
                               <th>描述</th>
                           </tr>
                       </thead>
                       <tbody>
                       <%for (var i=0, res; res = returns[i]; i++) {%>
                       <tr>
                           <td>
                               <a href="#<%- res.type %>"><%- res.type %></a>
                           </td>
                           <td>
                               <%- res.description %>
                           </td>
                       </tr>
                       <%}%>
                       </tbody>
                   </table>
                </div>
            </fileset>
            <%}%>


            <!-- 示例 -->
            <%if ( _self.example ) {%>
                <fileset>
                    <legend>示例</legend>
                    <div class="example">
                        <%- ViewHelper.markdownToHtml( example ) %>
                    </div>
                </fileset>
            <%}%>


       </dd>
    </dl>
</div>