<div class="member-item member-property">
    <dl class="member-item-dl">
        <dt><a name="<%- ViewHelper.getPath( _self ) %>" class="anchor"><%- name %></a></dt>
        <dd>
            <ul>
                <li><%- description %></li>
                <%if (_self.warning) {%>
                <li class="warning"><%- warning %></li>
                <%}%>
                <%if (_self.remind) {%>
                <li class="remind"><%- remind %></li>
                <%}%>
            </ul>

            <fileset>
                <legend>默认值</legend>
                <div class="table-wrap">
                    <%if ('default' in _self) {%><%- _self['default'] %><%} else {%>无<%}%>
               </div>
            </fileset>

            <fileset>
                <legend>是否为静态属性</legend>
                <div class="table-wrap">
                    <%if ('static' in _self) {%>是<%} else {%>否<%}%>
               </div>
            </fileset>

        </dd>

    </dl>
</div>